<%- include('./partials/header') %>

<body>
  <main class="main">
    <div class="container">
      <h2>Ajoutez un café</h2>
      <% if (locals.errorMessage) { %>
      <strong style="color: red" class="errorMessage"
        ><%= errorMessage %></strong
      >
      <% } else if (locals.successMessage){ %>
      <strong style="color: rgb(41, 184, 5)" class="errorMessage"
        ><%= successMessage %> <a href="<%= address %>">ici</a></strong
      ><% } %>

      <form action="" method="post" enctype="multipart/form-data">
        <fieldset class="fieldset">
          <label for="name">
            Nom du café
            <input type="text" name="nom" id="name" />
          </label>
        </fieldset>
        <fieldset class="fieldset">
          <label for="origine">
            Origine du café
            <input type="text" name="origine" id="origine" />
          </label>
        </fieldset>
        <fieldset class="fieldset">
          <label for="">
            Choisissez une caractéristique
            <select name="carac" id="carac">
              <option value="null">aucun</option>
              <% carac.forEach(caract=> { %>
              <option type="submit" value="<%= caract.id %>">
                <%= caract.carac_name %>
              </option>
              <% }) %>
            </select></label
          >
        </fieldset>
        <fieldset class="fieldset">
          <label for="description">
            Description du café
            <input type="text" name="description" id="description" />
          </label>
        </fieldset>
        <fieldset class="fieldset">
          <label for="prix_kilo">
            Prix au kilo
            <input type="text" name="prix_kilo" id="prix_kilo" />
          </label>
        </fieldset>
        <fieldset class="fieldset">
          <label for="reference">
            Reference
            <input type="number" name="reference" id="reference" />
          </label>
        </fieldset>
        <fieldset>
          <label for="">
            Image du café
            <input type="file" name="coffee_img" id="coffee_img" />
          </label>
        </fieldset>
        <button class="button_site" type="submit">Ajouter</button>
      </form>
    </div>
  </main>
</body>

<%- include('./partials/footer') %>
