<%- include('./partials/header') %>

<body>
  <main class="main">
    <div class="container">
      <section class="section">
        <div class="browsing_header">
          <h2 class="browsing_title">Notre catalogue</h2>
          <img
            class="img_browsing"
            src="../../assets/coffees/105589090.png"
            alt=""
          />
        </div>
        <form action="" method="get" class="form">
          <button type="submit" class="button_site button_select">
            <select
              class="select"
              name="carac"
              id="carac"
              aria-placeholder="choisissez une caractéristique"
            >
              <option class="option" value="">Tous</option>
              <% carac.forEach(caract=> { %>

              <option class="option" value="<%= caract.id %>">
                <%= caract.carac_name %>
              </option>

              <% }) %>
            </select>
          </button>
        </form>

        <div class="coffee_contain">
          <% coffees.forEach(cof => { %>
          <article class="coffee_article">
            <h1 class="coffee_article_title"><%= cof.nom %></h1>
            <% if (!cof.disponible) { %>
            <div class="coffe_dispo not_dispo" title="indisponible"></div>
            <% } else {%>
            <div class="coffe_dispo" title="disponible"></div>
            <% } %>

            <div class="coffee_article_darkener"></div>
            <img
              class="cofee_img"
              src="../../assets/coffees/<%= cof.reference %>.png"
              alt=""
            />
            <button class="button_site coffee_article_button">
              <a href="/produit/<%= cof.reference %>">Découvrir</a>
            </button>
          </article>
          <% }) %>
        </div>
        <button class="button_site button_plus">Voir tout</button>
      </section>
    </div>
  </main>
</body>

<%- include('./partials/footer') %>
