<%- include('./partials/header') %>

<body>
  <main class="main">
    <div class="container">
      <section class="section">
        <img
          class="product_img"
          src="../../assets/coffees/<%= coffeeSelected.reference %>.png"
          alt=""
        />
        <article class="coffee_product_article">
          <h1 class="coffee_product_article_title"><%= coffeeSelected.nom%></h1>
          <p class="coffee_product_article_origine">
            Origine: <strong><%= coffeeSelected.origine%></strong>
          </p>
          <p class="coffee_product_article_caracteristique">
            Caractéristique:
            <strong><%= coffeeSelected.carac_name%></strong>
          </p>
          <p class="coffee_product_article_text">
            Description: <strong><%= coffeeSelected.description%></strong>
          </p>
          <p class="coffee_product_article_prix">
            Prix au kilo: <strong><%= coffeeSelected.prix_kilo%> €</strong>
          </p>
          <button class="button_site button_product">
            <a href="/catalogue">Catalogue</a>
          </button>
        </article>
      </section>
    </div>
  </main>
</body>

<%- include('./partials/footer') %>
